{% extends 'base.html.twig' %}

{% block title %} Bienvenue | {{ parent() }} {% endblock %}

{% block body %}

<h1>{{title}}</h1>

<div>
    Fruits :
    <ul>
    {% for fruits in fruit%}
        <li>
        {{fruits.fruit}} - {{fruits.pays | upper }}
        </li>
    {% endfor %}
    </ul>
</div>
{% endblock %}